<%= form_for(@task) do |f| %>
    <div class="form-group">
        <label>Title</label> 
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
        <label>Details</label>
        <%= f.text_area :details, class: 'form-control'%>
    </div>
    <% unless @task.new_record? %>
        <div class="form-group">
            <%= f.check_box :completed %> Completed
        </div>
    <% end %>
    <%= f.submit "Create Task", class: 'btn btn-primary' %>
<% end %>